
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Pizza Website</title>

   
   
   <link rel="stylesheet" href="/css/style.css">

</head>
<body>
   


<header class="header">

   <section class="flex">

      <a href="#home" class="logo">HASI PIZZA SHOP</a>

      <nav class="navbar">
         <a href="#home">Home</a>
         <button> About </button>
         <a href="#menu">Menu</a>
         <a href="#order">Order</a>
      </nav>
      <button class="btn" onclick="window.open('@Url.Action("index1")'> </button>

      <div class="icons">
         
         <div id="cart-btn" class="fas fa-shopping-cart"></div>
      </div>

   </section>

</header>



<div class="home-bg">

   <section class="home" id="home">

      <div class="home">
          </div>
         <div class="home">
            <div class="image">
               <img src="/images/home-bg.jpg" alt=""width="100%" height="750vh">
            </div>
            <div class="content">
               
            </div>
         </div>

        

   </section>

</div>



<section class="about" id="about">

   <h1 class="heading">about us</h1>

   <div class="box-container">

      <div class="box">
         <img src="images/about-1.svg" alt="">
         <h3>made with love</h3>
         
         <a href="#menu" class="btn">Our Menu</a>
      </div>

      <div class="box">
         <img src="images/about-2.svg" alt="">
         <h3>30 minutes delivery</h3>
         <a href="#menu" class="btn">Our Menu</a>
      </div>

      <div class="box">
         <img src="images/about-3.svg" alt="">
         <h3>share with freinds</h3>
         <a href="#menu" class="btn">Our Menu</a>
      </div>

   </div>

</section>

<section id="menu" class="menu">

   <h1 class="heading">our menu</h1>

   <div class="box-container"></div>

      <div class="box">
         <div class="price"><span>1400</span>/</div>
         <img src="images/pizza-1.jpg" width="700px " alt="">
         <div class="name">Pizza 1</div>
         <form action="" method="post">
           
            <input type="submit" value="add to cart" name="add_to_cart" class="btn">
         </form>
      </div>

      <div class="box">
         <div class="price"><span>1350</span>/</div>
         <img src="images/pizza-2.jpg" width="700px" alt="">
         <div class="name">Pizza 2</div>
         <form action="" method="post">
            
            <input type="submit" value="add to cart" name="add_to_cart" class="btn">
         </form>
      </div>

      <div class="box">
         <div class="price"><span>1400</span>/</div>
         <img src="images/pizza-3.jpg" width="700px" alt="">
         <div class="name">Pizza 3</div>
         <form action="" method="post">
           
            <input type="submit" value="add to cart" name="add_to_cart" class="btn">
         </form>
      </div>

      <div class="box">
         <div class="price"><span>1500</span>/</div>
         <img src="images/pizza-4.jpg"width="700px" alt="">
         <div class="name">Pizza 4</div>
         <form action="" method="post">
           
            <input type="submit" value="add to cart" name="add_to_cart" class="btn">
         </form>
      </div>

      <div class="box">
         <div class="price"><span>1600</span>/</div>
         <img src="images/pizza-5.jpg" width="700px" alt="">
         <div class="name">Pizza 5</div>
         <form action="" method="post">
            
            <input type="submit" value="add to cart" name="add_to_cart" class="btn">
         </form>
      </div>

      <div class="box">
         <div class="price"><span>1550</span>/</div>
         <img src="images/pizza-6.jpg"width="700px" alt="">
         <div class="name">Pizza 6</div>
         <form action="" method="post">
            
            <input type="submit" value="add to cart" name="add_to_cart" class="btn">
         </form>
      </div>

     

</section>


<section class="order" id="order">

   <h1 class="heading">order now</h1>

   <form action="" method="post">

      

      <div class="flex">
         <div class="inputBox">
            <span>your name :</span>
            <input type="text" name="name" class="box" required placeholder="enter your name" maxlength="20">
         </div>
         <div class="inputBox">
            <span>your number :</span>
            <input type="number" name="number" class="box" required placeholder="enter your number" min="0">
         </div>
         <div class="inputBox">
            <span>payment method</span>
            <select name="method" class="box">
               <option value="cash on delivery">cash on delivery</option>
               <option value="credit card">credit card</option>
               
            </select>
         </div>
         <div class="inputBox">
            <span>address:</span>
            <input type="text" name="flat" class="box" required placeholder="House Number" maxlength="50">
         </div>
        
         <div class="inputBox">
            <span>pin code :</span>
            <input type="number" name="pin_code" class="box" required placeholder=" 123456" min="0">
         </div>
      </div>

      <input type="submit" value="order now" class="btn" name="order">

   </form>

</section>
<section class="footer">

   <div class="box-container">

      <div class="box">
         <i class="fas fa-phone"></i>
         <h3>phone number</h3>
         <p>03436361732</p>
         <p>03256284415</p>
      </div>

      <div class="box">
         <i class="fas fa-map-marker-alt"></i>
         <h3>our address</h3>
         <p>sialkot-pakistan</p>
      </div>

      <div class="box">
         <i class="fas fa-clock"></i>
         <h3>opening hours</h3>
         <p>10:00am to 11:00pm</p>
      </div>

      <div class="box">
         <i class="fas fa-envelope"></i>
         <h3>email address</h3>
         <p>haseebmunir079@gmail.com</p>
         
      </div>

   </div>

    <div class="credit">
      &copy; copyright @ 2022 
   </div>


</section>


</body>
</html>